<div class="order-summary jumbotron">
  <h2>Admin Dashboard</h2>
  <h3>
    Count of all Products
  </h3>
  <h4><%= @productList.count %></h4>
  <h3>
    Count of all Categories
  </h3>
  <h4><%= @categorieList.count %></h4>

  <div>
    <%= link_to 'Admin Products', [:admin, :products], class: 'btn btn-primary' %>
  </div>
</div>
